@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  /* Gray light */
  --gray-1: #fdfcfa;
  --gray-2: #fbf8f4;
  --gray-3: #f2efeb;
  --gray-4: #ebe7e2;
  --gray-5: #e4e0db;
  --gray-6: #dcd8d2;
  --gray-7: #d2cdc7;
  --gray-8: #c0bab2;
  --gray-9: #948c80;
  --gray-10: #8a8175;
  --gray-11: #6b6358;
  --gray-12: #484137;

  /* Gray alpha light */
  --gray-a1: #99660005;
  --gray-a2: #a35d000b;
  --gray-a3: #5a330014;
  --gray-a4: #502c001d;
  --gray-a5: #40240024;
  --gray-a6: #3922002d;
  --gray-a7: #331c0038;
  --gray-a8: #2f1b004d;
  --gray-a9: #2919007f;
  --gray-a10: #2717008a;
  --gray-a11: #1d1100a7;
  --gray-a12: #170e00c8;

  /* Yellow light */
  --yellow-1: #fefdfa;
  --yellow-2: #fffbe9;
  --yellow-3: #fff5bc;
  --yellow-4: #ffed97;
  --yellow-5: #ffe374;
  --yellow-6: #f5d66f;
  --yellow-7: #e3c666;
  --yellow-8: #d0af39;
  --yellow-9: #ffd500;
  --yellow-10: #f8cc18;
  --yellow-11: #947400;
  --yellow-12: #443b1f;

  /* Yellow alpha light */
  --yellow-a1: #cc990005;
  --yellow-a2: #ffd10016;
  --yellow-a3: #ffd90043;
  --yellow-a4: #ffd30068;
  --yellow-a5: #ffcc008b;
  --yellow-a6: #eeb70090;
  --yellow-a7: #d1a00099;
  --yellow-a8: #c39800c6;
  --yellow-a9: #ffd500;
  --yellow-a10: #f7c700e7;
  --yellow-a11: #947400;
  --yellow-a12: #2a2000e0;

  --background: #faf8f5;
  --contrast: #0e0c0a;

  @variant dark {
    /* Gray dark */
    --gray-1: #12110f;
    --gray-2: #1a1917;
    --gray-3: #24221f;
    --gray-4: #2b2926;
    --gray-5: #33302d;
    --gray-6: #3d3a34;
    --gray-7: #4c4741;
    --gray-8: #665f56;
    --gray-9: #746c61;
    --gray-10: #81796e;
    --gray-11: #b9b2a8;
    --gray-12: #f0edea;

    /* Gray alpha dark */
    --gray-a1: #0012d805;
    --gray-a2: #9daef70d;
    --gray-a3: #e2e0fe15;
    --gray-a4: #e7e5f91d;
    --gray-a5: #f6edfc24;
    --gray-a6: #fcf5ef2e;
    --gray-a7: #fef0ea3e;
    --gray-a8: #ffeee05a;
    --gray-a9: #ffeedc69;
    --gray-a10: #fff0df77;
    --gray-a11: #fef5eab4;
    --gray-a12: #fffcf9ef;

    /* Yellow dark */
    --yellow-1: #13110b;
    --yellow-2: #1b180f;
    --yellow-3: #2b2307;
    --yellow-4: #392b00;
    --yellow-5: #453500;
    --yellow-6: #534203;
    --yellow-7: #665418;
    --yellow-8: #816b21;
    --yellow-9: #face1d;
    --yellow-10: #fad74f;
    --yellow-11: #fae182;
    --yellow-12: #faeab4;

    /* Yellow alpha dark */
    --yellow-a1: #00000000;
    --yellow-a2: #f6d87d09;
    --yellow-a3: #ffc2001a;
    --yellow-a4: #faaf002a;
    --yellow-a5: #fbb80037;
    --yellow-a6: #fdc40046;
    --yellow-a7: #ffcf305a;
    --yellow-a8: #ffd23a77;
    --yellow-a9: #ffd21efa;
    --yellow-a10: #ffdd49fa;
    --yellow-a11: #ffe68dfa;
    --yellow-a12: #ffefb8fa;

    --background: #0e0c0a;
    --contrast: #faf8f5;

  }
}

/* `inline` is necessary to make it work */
@theme inline {

  /* Gray */
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  /* Gray alpha */
  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);

  /* Yellow */
  --color-yellow-1: var(--yellow-1);
  --color-yellow-2: var(--yellow-2);
  --color-yellow-3: var(--yellow-3);
  --color-yellow-4: var(--yellow-4);
  --color-yellow-5: var(--yellow-5);
  --color-yellow-6: var(--yellow-6);
  --color-yellow-7: var(--yellow-7);
  --color-yellow-8: var(--yellow-8);
  --color-yellow-9: var(--yellow-9);
  --color-yellow-10: var(--yellow-10);
  --color-yellow-11: var(--yellow-11);
  --color-yellow-12: var(--yellow-12);

  /* Yellow alpha */
  --color-yellow-a1: var(--yellow-a1);
  --color-yellow-a2: var(--yellow-a2);
  --color-yellow-a3: var(--yellow-a3);
  --color-yellow-a4: var(--yellow-a4);
  --color-yellow-a5: var(--yellow-a5);
  --color-yellow-a6: var(--yellow-a6);
  --color-yellow-a7: var(--yellow-a7);
  --color-yellow-a8: var(--yellow-a8);
  --color-yellow-a9: var(--yellow-a9);
  --color-yellow-a10: var(--yellow-a10);
  --color-yellow-a11: var(--yellow-a11);
  --color-yellow-a12: var(--yellow-a12);

  /* Semantic colors*/
  --color-background: var(--background);
  --color-foreground: var(--contrast);
  --color-surface: --alpha(var(--color-background) / 80%);
  --color-border: var(--color-gray-4);
  --color-text-muted: var(--color-gray-11);
  --color-primary: var(--color-yellow-9);
  --color-primary-contrast: #0e0c0a;
  --color-contrast-surface: #faf8f5;
  --color-secondary: var(--contrast);
  --color-secondary-contrast: var(--color-gray-1);
  --color-mask: --alpha(var(--color-background) / 60%);

  /* Font family */
  --font-rubik: var(--font-rubik);
  --font-work: var(--font-work-sans);
  --font-roboto: var(--font-roboto-mono);
}

/* Semantic headings */
/* In a CSS file processed by Tailwind (e.g., globals.css, styles.css) */
@layer components {
  .heading-1 {
    @apply font-rubik font-bold text-2xl md:text-3xl lg:text-4xl;
  }

  .heading-2 {
    @apply font-rubik font-bold text-xl md:text-2xl lg:text-3xl;
  }

  .heading-3 {
    @apply font-rubik font-bold text-lg md:text-xl lg:text-2xl;
  }

  .heading-4 {
    @apply font-rubik font-bold text-base md:text-lg lg:text-xl;
  }

  .heading-5 {
    @apply font-rubik font-bold text-base md:text-base lg:text-base;
  }
}


@layer utilities {
  .page-padding {
    @apply px-4 md:px-8;
  }
}


/* Focus state */
@utility custom-focus {
  @apply outline-none ring-offset-2 ring-offset-background ring-2 ring-yellow-10;
}

body {
  font-family: Arial,
    Helvetica,
    sans-serif;
  background: var(--color-background);
  color: var(--color-foreground);
}



html[data-theme='light'] {
  --bg-pattern: url('../../public/background_pattern_light.svg');

  .nav-logo {
    content: url('../../public/biteSize_solid_full.svg');
  }
}

html[data-theme='dark'] {
  --bg-pattern: url('../../public/background_pattern_dark.svg');

  .nav-logo {
    content: url('../../public/biteSize_outline_full.svg');
  }
}

svg text {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 400;
  /* or 500/700 to match your AE layer */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--color-gray-a11);
}